.child {
    display: inline-block;
}

#olson{
    font-size: 260px;
    animation: moveRight 3s linear backwards;
    animation-delay: 2s;
    text-align: center;
    right: -32%;
    position: relative;
    font-family: Didot, serif;
    letter-spacing: -4px;
}

#james{
    font-size: 260px;
    animation: moveLeft 3s linear forwards;
    animation-delay: 2s;
    text-align: center;
    position: relative;
    left: 15%;
    font-family: Didot, serif;
    letter-spacing: -4px;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-44%);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-52%);
    }
    100% {
        transform: translateX(0%);
    }
}

#namecon{
    padding-top: 41%;
    width: 100%;
}

#opaqe{
    background-color: green;
}