.child {
    display: inline-block;
}

#olson{
    font-size: 200px;
    animation: moveRight 5s linear backwards;
    animation-delay: 2s;
    text-align: center;
    right: -10%;
    position: relative;
}

#james{
    font-size: 200px;
    animation: moveLeft 5s linear forwards;
    animation-delay: 2s;
    text-align: center;
    position: relative;
    left: 40%;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

#namecon{
    padding-top: 40%;
    width: 100%;
}